@charset "utf-8";

em {
    font-style:normal
}

dl,dt,dd,ul,li,p {
    margin:0;
    padding:0
}

ul {
    list-style:none
}

.wrap_mytraining{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.trWrap {
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	transform:scale(1.1);
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	margin:auto;
	width:940px;
	overflow:hidden;
	background: rgba(0,0,0,0.5) no-repeat 217px bottom;
	border-style:solid;
	border-color:rgba(228, 189, 39, 0.3);
	border-width:1px;
}

@media (min-width: 1600px) {
    .trWrap {
        transform:scale(1.2);
		-ms-transform:scale(1.2);
		-webkit-transform:scale(1.2);
    }
}

.trWrap .header {
    height:30px;
    background:#0c131d
}

.trWrap .categoryWrap,.treeWrap,.tooltipWrap {
    float:left;
    min-height:493px
}

.trWrap .categoryWrap {
    width:215px;
    overflow-x:hidden
}

.trWrap .treeWrap {
    width:315px
}

.trWrap .categoryWrap {
    width:197px;
    padding:10px 0 0 10px
}

.trSearchWrap {
    position:relative;
    height:31px;
    margin-bottom:5px;
    background:url(img/tr_v2.png) no-repeat 0 -225px
}

.trSearchWrap input {
    position:absolute;
    left:30px;
    top:8px;
    border:0 none;
    font-size:11px;
    color:#eee;
    width:147px;
    height:15px;
    background:transparent
}

.trSearchWrap .placeholder {
    position:absolute;
    left:30px;
    top:8px;
    width:50px;
    height:15px;
    text-indent:-1000px;
    overflow:hidden;
    background:url(img/tr_v2.png) no-repeat 0 -475px
}

.trSearchWrap .del {
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-1000px;
    overflow:hidden;
    cursor:pointer;
    background:url(img/tr_v2.png) no-repeat -30px -510px
}

.trWrap .categoryWrap .categoryBody {
    -webkit-overflow-scrolling:touch;
    height:480px;
    width:100%;
    overflow:auto;
    min-height:413px;
    background-color:rgba(35, 28, 20, 0.5);
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}



.categoryBody::-webkit-scrollbar {
    width:5px;
    background-color:rgba(0,0,0,0.8);
}

.categoryBody::-webkit-scrollbar-thumb {
    background-color:rgba(50,50,50,0.8);
    border-radius:3px
}

.categoryBody {
    scrollbar-track-color:rgba(0,0,0,0.8);
    scrollbar-face-color:rgba(50,50,50,0.8);
    scrollbar-highlight-color:rgba(50,50,50,0.8);
    scrollbar-shadow-color:rgba(0,0,0,0.8)
}

.categoryWrap .bgt {
    height:1px;
    background:url(img/tr_v2.png) no-repeat 0 0
}

.categoryWrap .bgb {
    height:2px;
    background:url(img/tr_v2.png) no-repeat 0 -2px
}

.categoryWrap dt {
    margin-top:-1px;
    height:31px;
    color:#fff;
    overflow:hidden;
    background:url(img/tr_v2.png) no-repeat 0 -9px
}

.categoryWrap dt strong {
    display:block;
    line-height:30px;
    padding:1px 0 0 10px
}

.categoryWrap dd {
    color:#E4BD27
}

.categoryWrap li {
    position:relative;
    height:31px;
    font-size:10px;
    overflow:hidden;
    background:url(img/tr_v2.png) no-repeat 0 -40px
}

.categoryWrap li:hover {
    cursor:pointer;
    background-position:0 -71px
}

.categoryWrap li.selected {
    background-position:0 -102px
}

.categoryWrap .thumb {
    position:absolute;
    top:0;
    left:0;
    width:54px;
    height:30px;
    overflow:hidden
}

.categoryWrap .thumb img {
    top:-15px;
    width:54px
}

.categoryWrap em {
    position:absolute;
    left:58px;
}

.categoryWrap em.single {
    color:#fff
}

.categoryWrap .point {
}

.categoryWrap .point_able {
    position:absolute;
    top:16px;
    left:40px;
    overflow:hidden;
    width:14px;
    height:12px;
    padding:2px 0 0 4px;
    font-size:10px;
    color:#fff;
    background:url(img/tr_v2.png) no-repeat 0 -550px
}

.categoryWrap .cmdkey {
    position:absolute;
    top:2px;
    left:1px;
    width:19px;
    height:8px;
    text-indent:-1000px;
    overflow:hidden;
    background:url(img/tr_v2.png) no-repeat 0 -800px
}

.categoryWrap .key_LB {
    background-position:0 -300px
}

.categoryWrap .key_RB {
    background-position:0 -310px
}

.categoryWrap .key_F {
    background-position:0 -320px
}

.categoryWrap .key_TAB {
    background-position:0 -330px
}

.categoryWrap .key_1 {
    background-position:0 -340px
}

.categoryWrap .key_2 {
    background-position:0 -350px
}

.categoryWrap .key_3 {
    background-position:0 -360px
}

.categoryWrap .key_4 {
    background-position:0 -370px
}

.categoryWrap .key_Z {
    background-position:0 -380px
}

.categoryWrap .key_X {
    background-position:0 -390px
}

.categoryWrap .key_C {
    background-position:0 -400px
}

.categoryWrap .key_V {
    background-position:0 -410px
}

.categoryWrap .key_Q {
    background-position:0 -420px
}

.categoryWrap .key_E {
    background-position:0 -430px
}

.categoryWrap .key_W {
    background-position:0 -440px
}

.categoryWrap .key_S {
    background-position:0 -450px
}

.categoryWrap .key_NONE {
    height:12px;
    background-position:0 -460px
}

.categoryWrap .frame {
}

.categoryWrap .lock .frame {
    position:absolute;
    top:1px;
    left:0;
    width:54px;
    height:29px;
    overflow:hidden;
    background:url(img/tr_v2.png) no-repeat 0 -640px
}

.categoryWrap .hide{
	display:none;
}

.categoryWrap .disable .frame {
    position:absolute;
    left:0;
    width:54px;
    height:30px;
    overflow:hidden;
    background:url(img/disable.png) repeat
}

.categoryWrap .disable em,.categoryWrap .lock em {
    color:#999
}

.menuWrap {
    display:none;
    clear:both;
    margin-top:5px;
    width:203px;
    height:29px;
    background:url(img/tr_v2.png) no-repeat 0 -135px
}

.menuWrap span {
    float:left;
    width:50px;
    height:28px;
    border:0 none;
    padding:0;
    margin:0;
    cursor:pointer;
    overflow:hidden;
    text-indent:-1000px
}

.menuWrap .sorting_cmdkey {
    width:51px
}

.menuWrap .sorting_cmdkey:hover {
    background:url(img/tr_v2.png) no-repeat 0 -165px
}

.menuWrap .sorting_level:hover {
    background:url(img/tr_v2.png) no-repeat -51px -165px
}

.menuWrap .sorting_stance:hover {
    background:url(img/tr_v2.png) no-repeat -101px -165px
}

.menuWrap .sorting_name:hover {
    background:url(img/tr_v2.png) no-repeat -151px -165px
}

.menuWrap .sorting_cmdkey.selected {
    background:url(img/tr_v2.png) no-repeat 0 -195px
}

.menuWrap .sorting_level.selected {
    background:url(img/tr_v2.png) no-repeat -51px -195px
}

.menuWrap .sorting_stance.selected {
    background:url(img/tr_v2.png) no-repeat -101px -195px
}

.menuWrap .sorting_name.selected {
    background:url(img/tr_v2.png) no-repeat -151px -195px
}

.treeWrap {
}

.treeWrap .only {
    width:100%;
    text-align:center;
    margin:230px auto 0;
    color:#fff
}

.treeWrap .only em {
    color:#E4BD27
}

.tree_tp {
    float:right;
    margin:10px 0 0 0;
    width:60px;
    height:18px;
    padding:2px 0 0 25px;
    color:#58ff77;
    background:url(img/tr_v2.png) no-repeat 0 -610px;
    font-size:14px
}

.tooltip .tree_tp{
	font-size:12px;
	position:absolute;
	text-align:right;
	right:5px;
	width:95px;
}

.treeWrap .tree_cols4 {
    position:relative;
    width:295px;
    height:450px;
    margin:40px auto 0
}

.treeWrap .tree_cols3 {
    position:relative;
    width:220px;
    height:450px;
    margin:40px auto 0
}

.treeWrap .tree_cols2 {
    position:relative;
    width:145px;
    height:450px;
    margin:40px auto 0
}

.treeWrap .tree_cols1 {
    position:relative;
    width:70px;
    height:450px;
    margin:40px auto 0
}

.treeWrap .slot_11 {
    position:absolute;
    left:0;
    top:0;
    overflow:hidden
}

.treeWrap .slot_21 {
    position:absolute;
    left:0;
    top:75px;
    overflow:hidden
}

.treeWrap .slot_22 {
    position:absolute;
    left:75px;
    top:75px;
    overflow:hidden
}

.treeWrap .slot_23 {
    position:absolute;
    left:150px;
    top:75px;
    overflow:hidden
}

.treeWrap .slot_24 {
    position:absolute;
    left:225px;
    top:75px;
    overflow:hidden
}

.treeWrap .slot_31 {
    position:absolute;
    left:0;
    top:150px;
    overflow:hidden
}

.treeWrap .slot_32 {
    position:absolute;
    left:75px;
    top:150px;
    overflow:hidden
}

.treeWrap .slot_33 {
    position:absolute;
    left:150px;
    top:150px;
    overflow:hidden
}

.treeWrap .slot_34 {
    position:absolute;
    left:225px;
    top:150px;
    overflow:hidden
}

.treeWrap .slot_41 {
    position:absolute;
    left:0;
    top:225px;
    overflow:hidden
}

.treeWrap .slot_42 {
    position:absolute;
    left:75px;
    top:225px;
    overflow:hidden
}

.treeWrap .slot_43 {
    position:absolute;
    left:150px;
    top:225px;
    overflow:hidden
}

.treeWrap .slot_44 {
    position:absolute;
    left:225px;
    top:225px;
    overflow:hidden
}

.treeWrap .slot_51 {
    position:absolute;
    left:0;
    top:300px;
    overflow:hidden
}

.treeWrap .slot_52 {
    position:absolute;
    left:75px;
    top:300px;
    overflow:hidden
}

.treeWrap .slot_53 {
    position:absolute;
    left:150px;
    top:300px;
    overflow:hidden
}

.treeWrap .slot_54 {
    position:absolute;
    left:225px;
    top:300px;
    overflow:hidden
}

.treeWrap .slot {
    position:relative;
    width:70px;
    height:70px
}

.treeWrap .slot .thumb {
    position:absolute;
    left:12px;
    top:12px
}

.treeWrap .slot .thumb img {
    width:46px;
    height:46px
}

.treeWrap .step {
    position:absolute;
    left:40px;
    top:45px;
    width:28px;
    height:16px;
    padding-top:2px;
    font-family:Tahoma;
    font-size:10px;
    text-align:center;
    color:#777;
    background:url(img/tr_v2.png) no-repeat 0 -570px
}

.treeWrap .complete .step,.treeWrap .plusstep .step {
    color:#75dc8a;
    background-position:0 -570px
}

.treeWrap .frame {
    position:absolute;
    left:12px;
    top:12px;
    width:46px;
    height:46px;
    background:url(img/disable.png) repeat
}

.treeWrap .complete .frame {
    background-image:none
}

.treeWrap .elite.complete .frame {
    background:url(img/tr_v2.png) repeat -130px -650px
}

.treeWrap .elite.plus .frame {
    background:url(img/tr_v2.png) repeat -130px -720px
}

.treeWrap .elite.plusstep .frame {
    background:url(img/tr_v2.png) repeat -130px -790px
}

.treeWrap .hover {
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) no-repeat -130px -300px
}

.treeWrap .hover:hover {
    background-position:-60px -300px
}

.treeWrap .plus .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -370px
}

.treeWrap .plusstep .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -440px
}

/*	.treeWrap .elite .frame{left:0;top:0;width:70px;height:70px;background:url('img/tr_v2.png') repeat -130px -510px }*/
.treeWrap .elite .frame,.treeWrap .elite_legend .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -580px
}

.treeWrap .elite .hover:hover {
    background-position:-60px -300px
}

.treeWrap .achievement .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -860px
}

.treeWrap .achievement.complete .frame {
    background-image:none
}

.treeWrap .achievement.plus .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -370px
}

.treeWrap .achievement.plusstep .frame {
    left:0;
    top:0;
    width:70px;
    height:70px;
    background:url(img/tr_v2.png) repeat -130px -440px
}

.treeWrap .achievement .hover:hover {
    background-position:-60px -300px
}

.treeWrap .impossible .hover {
    background:url(img/tr_v2.png) repeat -60px -370px
}

.treeWrap .exclusive .hover {
    background:url(img/tr_v2.png) repeat -60px -440px
}

.treeWrap .lock .hover {
    background:url(img/tr_v2.png) repeat -60px -510px
}

.active .thumb {
    top:13px
}

.active .frame {
    top:1px
}

.active .hover {
    top:1px
}

.tree_arrow .arrow {
    position:absolute;
    z-index:0
}

.tree_arrow .able {
    z-index:1
}

.tree_arrow .arrow span {
    position:absolute;
    display:inline-block;
    float:left
}

.tree_arrow .h {
    height:5px;
    background-color:#1b1b1b
}

.tree_arrow .v {
    width:5px;
    background-color:#1b1b1b
}

.tree_arrow .end {
    width:12px;
    height:17px;
    background:url(img/tr_v2.png) no-repeat 0 -510px
}

.tree_arrow .able .h {
    height:5px;
    background-color:#ff9024
}

.tree_arrow .able .v {
    width:5px;
    background-color:#ff9024
}

.tree_arrow .able .end {
    background-position:0 -530px
}

/* 헤더 */
.trWrap .header {
    width:auto;
    position:relative;
    height:35px;
    background:#000;
    opacity:.8;
    z-index:60;
    padding-top:6px
}

.trWrap .header span {
    font-family:맑은 고딕,Gulim,Dotum;
    font-size:12px;
    font-weight:700
}

.trWrap .header .job {
    float:left;
    margin:8px 0 0 20px;
    color:#eab614;
    font-size:12px
}

.trWrap .header .level {
    float:left;
    margin:8px 0 0 15px;
    color:#eab614;
    font-size:12px
}

.trWrap .header .mastery_level {
    float:left;
    margin:8px 0 0 15px;
    color:#eab614;
    font-size:12px
}

.trWrap .header .active {
    color:#74f18d!important
}

.trWrap .header .select_level {
    position:relative;
    z-index:61;
    cursor:pointer
}

.trWrap .header .ly_level {
    position:absolute;
    top:25px;
    left:-10px;
    z-index:51;
    background-color:#000;
    width:65px;
    height:92px;
    overflow:scroll;
    overflow-x:hidden;
    display:none
}

.trWrap .header .mastery_level .ly_level {
    left:67px;
    width:48px
}

.trWrap .header .ly_level li {
    list-style:none;
    height:16px;
    overflow:hidden;
    font-size:11px;
    padding:0 0 0 10px
}

.trWrap .header .ly_level li:hover {
    color:#fff;
    background-color:#333;
    font-size:12px
}

.trWrap .header .btn_level {
    display:inline-block;
    width:20px;
    height:12px;
    vertical-align:middle;
    background:url(img/ico_down.gif) no-repeat center 2px
}

.trWrap .header .btn_reset {
	float:right;
	color:#eab614;
	margin:8px 0 0 15px;
	text-decoration:none;
}

.btn_reset:hover {
	color:#fff;
}

.trWrap .header .btn_reset_all {
	float:right;
	color:#eab614;
	margin:8px 15px 0 15px;
	text-decoration:none;
}

.btn_reset_all:hover {
	color:#fff;
}


.tooltipWrap {
    height:400px;
    width:410px;
    overflow:hidden;
    -webkit-overflow-scrolling:touch
}

/* 디테일 레이어 */
.tooltipWrap .tooltip {
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    transform:scale(1.05);
    -ms-transform:scale(1.05);
/* IE 9 */
    -webkit-transform:scale(1.05);
/* Safari and Chrome */
    width:370px;
    margin:10px 0 0 15px;
    color:#fff;
    z-index:9999
}

.tooltipWrap .tooltip * {
}

.tooltip section {
    position:relative
}

.tooltip img {
    vertical-align:middle
}

.tooltip .consumed_sp {
    position:absolute;
    right:5px;
    margin:0;
    font-size:11px;
    color:#fff
}

.tooltip footer {
    padding:10px 0 0;
    font-size:11px;
    letter-spacing:0;
    color:#999!important
}

.tooltip dt.name {
    display:block;
    height:25px;
    padding-bottom:7px;
    font-size:14px;
    font-weight:700;
    color:#29c7e4
}

.matrix {
    font-size:11px;
    color:#ddd
}

.tooltip dd.thumb {
    position:relative;
    float:left;
    margin:0!important;
    padding:0 8px 0 3px
}

.tooltip dd.thumb img {
    width:50px;
    height:50px;
    margin:2px 1px
}

.tooltip dd.thumb .frame {
    position:absolute;
    top:0;
    left:0;
    width:56px;
    height:56px;
    background:url(img/tr_v2.png) no-repeat 0 -670px
}

.tooltip dd.main_info {
    float:left;
    width:307px
}

.tooltip dd.main_info .main_info1 {
    margin-bottom:6px;
    font-size:13px;
    font-weight:700;
    letter-spacing:0;
    color:#fff
}

.tooltip dd.main_info .main_info2 {
    font-size:11px;
    font-weight:700;
    letter-spacing:0;
    color:#fff;
    line-height:1.3
}

.tooltip dd.sub_info {
    clear:both;
    padding-top:5px;
    font-size:10px;
    letter-spacing:0;
    color:#fff;
    line-height:1.4
}

/*color:#74f18d;*/
.tooltip .money_info {
    padding-top:5px;
    text-align:right;
    color:#eee;
    font-size:11px
}

/* 수련비용 #d86955*/
.tooltip .money_info img {
    vertical-align:middle;
    margin:-3px 3px 0 1px
}

.tooltip .skill_info {
    padding:10px 0 0;
    margin:0 0 0 70px;
    font-size:10px
}

.tooltip .skill_info:after {
    clear:both;
    display:block;
    content:''
}

.tooltip .skill_info li {
    float:left;
    display:inline-block;
    width:56px;
    height:67px;
    overflow:hidden;
    word-spacing:0;
    letter-spacing:0;
    margin-left:4px;
    background:url(img/skill.png) no-repeat
}

.tooltip .skill_info li:first-child {
    margin-left:0
}

.tooltip .skill_info li em,.skill_info li div {
    display:block;
    text-align:center;
    width:100%
}

.tooltip .skill_info li em {
    height:21px;
    padding-top:5px
}

.tooltip .skill_info li div {
    padding:13px 0
}

.tooltip .skill_info li div.diff {
    padding:2px 0 0
}

.tooltip .skill_info li div p {
    overflow:hidden;
    padding-top:2px;
    line-height:110%
}

.tooltip .skill_info li div .diff_arrow {
    font-size:8px
}

.tooltip .skill_info li.meter {
    margin-left:0!important
}

.tooltip .skill_info li.range_0 {
    background-position:0 0
}

.tooltip .skill_info li.range_1 {
    background-position:-60px 0
}

.tooltip .skill_info li.range_2 {
    background-position:-120px 0
}

.tooltip .skill_info li.range_3 {
    background-position:-180px 0
}

.tooltip .skill_info li.range_4 {
    background-position:-240px 0
}

.tooltip .skill_info li.range_5 {
    background-position:-300px 0
}

.tooltip .skill_info li.range_6 {
    background-position:-360px 0
}

.tooltip .skill_info p.range {
    background:url(img/skill.png) no-repeat
}

.tooltip .skill_info p.range_0 {
    background-position:3px -74px
}

.tooltip .skill_info p.range_1 {
    background-position:-43px -74px
}

.tooltip .skill_info p.range_2 {
    background-position:-103px -74px
}

.tooltip .skill_info p.range_3 {
    background-position:-163px -74px
}

.tooltip .skill_info p.range_4 {
    background-position:-223px -74px
}

.tooltip .skill_info p.range_5 {
    background-position:-283px -74px
}

.tooltip .skill_info p.range_6 {
    background-position:-343px -74px
}

.tooltip .skill_acquire {
    clear:both;
    margin-top:7px;
    font-size:11px;
    font-weight:400
}

.tooltip .skill_acquire strong {
    display:block;
    margin-bottom:3px;
    color:#ffb424
}

.tooltip .skill_acquire dl {
    margin-bottom:3px
}

.tooltip .skill_acquire dt {
    color:#ffe300
}

.tooltip .skill_acquire dl img {
    height:16px;
    margin-top:2px
}

.tooltip .skill_acquire .legend {
    color:#ff9600
}

.tooltip .skill_acquire dd span {
    color:#29c7e4
}

.ui_skill_mod {
    color:#fbe76a!important
}

.ui_skill_add {
    color:#41cb54!important
}

.ui_skill_del {
    color:#bbb;
    text-decoration:line-through
}